.nastaran {
    background-color: aqua;
    padding: 40px 0;
    margin: 10px 0;
}
.mirseyed {
    background-color: brown;
    padding: 30px 0;
    margin: 20px 0;
}
.title {
    background-color: coral;
    margin-bottom: -50px;
}
.title2 {
    background-color: chartreuse;
    margin-top: 70px;
}
.title3 {
    background-color: cornflowerblue;
    margin-bottom: -30px;
}
.title4 {
    background-color: burlywood;
    margin-top: 30px;
}